body {
    --primary-background-color: #fefefe;
    --subtitle-width: 555px;
    --title-width: 383px;


}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Rubik-Regular.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", "Arial", sans-serif;
}

.header,
.section {
    background: var(--primary-background-color);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}

.title {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0b132a;
}

.subtitle {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4f5665;
}

.description {
    font-family: "Rubik";
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
}

/*button*/
.btn--danger {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.08em;
    height: 60px;
    padding: 0px 76px;
    background: #f53838;
    border: transparent;
    border-radius: 10px;
    color: #ffffff;
}

.btn--outline {
    height: 45px;
    letter-spacing: 0.06em;
    padding: 0px 43px;
    border: 1px solid #f53855;
    border-radius: 50px;
    color: #f53855;
    background-color: transparent;
}

.btn--outline:hover,
.btn--danger:hover {
    background-color: #ffa8a8;
    color: #4c4a4a;
    box-shadow: 0px 28px 50px rgb(245 56 56 / 35%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*********** slider ***********/
/*.slider {
  left: 50%;
  transform: translateX(-50%);
  bottom: 27px;
}*/
.slider__nav {
    display: flex;
    justify-content: center;
}

.slider-item {
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: relative;
    border: 0px;
    background-color: #d1d6e3;
}

.slider-item+.slider-item {
    margin-left: 8px;
}

.slider-item:hover {
    filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg) brightness(101%) contrast(100%);
}



/*.slider__nav {
    display: flex;
    align-items: center;
    position: relative;
    left: 130px;
}*/



.slider__nav-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #dde0e4;
    border-color: transparent;
}

.slider__nav-item--active {
    width: 15px;
    height: 15px;
}

.slider__nav-item:not(:last-child) {
    margin-right: 15px;
}

.slider__nav-item:hover {
    filter: invert(54%) sepia(65%) saturate(7475%) hue-rotate(339deg) brightness(97%) contrast(100%);
}

.slider__nav-right {
    display: flex;
    align-items: center;
}

.slider__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid;
    border-color: #f53838;
    border-radius: 50%;
}

.slider__arrow:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(360deg);
}

.slider__arrow:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
}

.slider__arrow-icon {
    width: 30px;
    height: 30px;
}

.slider__arrow:not(:last-child) {
    margin-right: 20px;
}

/*Header*/
.header .container {
    display: flex;
    padding: 45px 0px;
}

.header__left {
    display: flex;
    align-items: center;
}

.logo__name {
    font-family: "Rubik";
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-right: 157px;
}

.logo {
    margin-right: 10px;
}

.header img {
    width: 35px;
    height: 36px;
}

.menu {
    margin-right: 150px;
}

.menu__item {
    font-weight: 400;
    text-decoration: none;
    color: #4f5665;
}

.menu__item:not(:last-child) {
    letter-spacing: 0.06rem;
    margin-right: 38px;
}

.header__right {
    display: flex;
    align-items: center;
}

.sign__in {
    font-size: 16px;
    line-height: 19px;
    margin-right: 32px;
}

/*media header*/
@media (max-width: 576px) {
    .header .container {
        padding: 45px 15px;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .sign__in {
        display: none;
    }

    .logo__name {
        margin: 0px;
    }
}

@media (min-width: 576px) {
    .header .container {
        padding: 15px 15px;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }
}

@media (min-width: 1200px) {
    .menu {
        display: block;
    }

    .header .container {
        padding: 40px 0px 54px 0px;
    }
}



/*section--hero*/
.section--hero {
    padding: 26px 0px;
}

.section--hero .container {
    display: flex;
    flex-direction: column;
}

.hero__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--hero .title {
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 6px;
}

.section--hero .description {
    margin-bottom: 50px;
    text-align: center;
}

.hero__right {
    display: flex;
    justify-content: center;
}

.hero__pic {
    width: 21em;
}

/*media hero*/
@media (max-width: 576px) {
    .section--hero .container {
        align-items: center;
    }

    .hero__right {
        padding-top: 44px;
        display: flex;
        align-items: center;
    }

}

@media (min-width: 576px) {
    .hero__left {
        margin-bottom: 25px;
    }

    .hero__pic {
        width: 25em;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .section--hero .container {
        flex-direction: row;
    }

    .hero__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 555px;
    }

    .section--hero .title {
        text-align: left;
    }

    .section--hero .description {
        text-align: left;
    }

    .hero__right {
        display: block;
    }

    .hero__pic {
        position: relative;
        width: 28em;
    }
}

@media (min-width: 1200px) {
    .section--hero {
        padding: 26px 0px 76px 0px;
    }

    .hero__left {
        width: 555px;
    }

    .hero__pic {
        left: 66px;
        top: -26px;
        width: auto;
    }

}

@media (min-width: 1400px) {}

/*stats*/
.section--stats {
    padding: 50px 0px;
}

.section--stats .container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #f6f6f6;
    /*    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    padding: 0px;
}

.stats__col {
    margin-bottom: 30px;
}

.col__item {
    display: flex;
    align-items: center;
    height: 200px;
}

.col__item:last-child,
.col__item:not(:first-child) {
    display: none;
}

.col__line {
    display: none;
    width: 1px;
    height: 126px;
    border: 1px solid #eeeff2;
}

.item__left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    height: 55px;
    width: 55px;
    background: #ffecec;
    margin-right: 38px;
}

.item__right {
    display: flex;
    flex-direction: column;
}

.value {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #0b132a;
}

.section--stats .description {
    font-size: 20px;
    margin: 0;
}


/*media stats*/
@media (max-width: 576px) {
    .section--stats {
        padding-bottom: 20px;
    }

    .col__item {
        justify-content: center;
        height: 124px;
    }

    .section--stats .slider__nav {
        margin-top: 20px;
        justify-content: center;
    }

    .slider__nav-item--active {
        width: 15px;
    }
}

@media (min-width: 576px) {
    .stats__col {
        display: flex;
        justify-content: space-around;
    }

    .col__item:not(:first-child) {
        display: flex;
    }

    .col__item:last-child {
        display: none;
    }

}

@media (min-width: 768px) {
    .section--stats {
        padding-bottom: 0px;
    }

    .col__item:last-child {
        display: flex;
    }

    .section--stats .slider__nav {
        display: none;
    }

}

@media (min-width: 992px) {
    .col__line {
        display: none;
    }

    .stats__col {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .col__line {
        display: block;
    }
}

/*features*/
.section--features {
    background: #f6f6f6;
    padding-top: 20px;
}

.section--features .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.features__right {
    flex-direction: column;
    display: contents;
}

.section--features .title {
    font-weight: 600;
    margin-top: 42px;
}

.section--features .description {
    margin-bottom: 20px;
    text-align: center;
}

.features__icon-wraper {
    display: flex;
    font-size: 14px;
    line-height: 25px;
    color: #4f5665;
    margin-bottom: 20px;
}

.features__ok {
    margin-right: 10px;
}

/*media features*/
@media (max-width: 576px) {
    .features__pic {
        width: 22em;
        margin: 0;
    }

    .features__left {
        padding-top: 15px;
    }
}

@media (min-width: 576px) {
    .features__pic {
        width: 25em;
    }
}

@media (min-width: 992px) {
    .section--features .container {
        padding-bottom: 25px;
        flex-direction: row;
    }

    .features__pic {
        margin-right: 205px;
        width: auto;
        position: relative;
        top: 30px;
        left: 34px;
    }

    .features__right {
        display: block;
        margin-top: 91px;
    }

    .section--features .title,
    .section--features .description {
        text-align: left;
    }

    .section--features .title {
        letter-spacing: 0.01em;
        margin-bottom: 20px;
    }

    .section--features .description {
        margin-bottom: 21px;
    }

    .features__icon-wraper {
        letter-spacing: 0.06em;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {
    .section--features .container {
        padding-bottom: 107px;
        flex-direction: row;
    }
}

/*plan*/
.section--plan {
    padding-top: 84px;
    background: #f6f6f6;
}

.section--plan .container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 30px;
}

.section--plan .title {
    margin-bottom: 18px;
}

.section--plan .subtitle {
    font-weight: 400;
    margin-bottom: 60px;
}

.plan__h2 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0b132a;
    margin-bottom: 20px;
}

.plan__table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan_table_col:not(:last-child) {
    margin-bottom: 15px;
}

.plan_table_col {
    justify-content: space-between;
    padding: 76px 0px 48px 0px;
    width: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    text-align: center;
}

.plan_table_col:hover {
    border-color: #f53838;
}

.plan_table_col h3 {
    margin: 30px 0px 36px 0px;
}

.plan__icon-wraper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.plan__item {
    margin-bottom: 53px;
}

.plan__ok {
    margin: 0px 19px 0px -6px;
}

.section--plan .btn--outline {
    padding: 0px 61px;
    height: 45px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.section--plan .btn--danger {
    padding: 0px 62px;
    height: 45px;
    border-radius: 50px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.plan_table_col:nth-of-type(2) {
    display: none;
}

.plan_table_col:nth-of-type(3) {
    display: none;
}

.slider__plan {
    margin-top: 30px;
}

/*media plan*/
@media (max-width: 576px) {
    .section--plan .container {
        padding: 20px 0px 30px 0px;
    }

    .plan_table_col {
        margin: auto;
    }

    .slider__plan {
        justify-content: center;
    }


}

@media (max-width: 768px) {
    .section--plan {
        padding-top: 0px;
    }

    .section--plan .container {
        padding-top: 20px;
    }

}

@media (min-width: 992px) {
    .section--plan .container {
        padding-top: 0px;
    }

    .section--plan .title {
        letter-spacing: 0.02em;
        font-weight: 600;
    }

    .section--plan .subtitle {
        width: var(--subtitle-width);
        margin: auto;
        margin-bottom: 62px;
    }

    .plan__table {
        flex-direction: row;
        align-items: unset;
        justify-content: space-around;
    }

    .plan_table_col {
        width: 303px;
    }

    .plan_table_col:not(:last-child) {
        margin: 0;
    }

    .plan_table_col:nth-of-type(2),
    .plan_table_col:nth-of-type(3) {
        display: flex;
    }

    .slider__plan {
        display: none;
    }

}

@media (min-width: 1400px) {
    .section--plan .container {
        padding: 0px 15px 104px;
    }
}

/*global*/

.section--global {
    padding: 45px 0px 69px;
}

.section--global .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--global .title {
    width: var(--title-width);
    letter-spacing: 0.02em;
    margin-bottom: 6px;
}

.section--global .subtitle {
    width: var(--subtitle-width);
    font-weight: 400;
    margin-bottom: 15px;
}

/*media global*/
@media (max-width: 576px) {
    .section--global .container {
        align-items: center;
        flex-direction: column;
    }

    .section--global .subtitle {
        width: auto;
    }

    .global__pic {
        width: 22em;
    }
}

@media (min-width: 576px) {
    .global__pic {
        width: 32em;
    }
}

@media (min-width: 768px) {
    .global__pic {
        width: 36em;
    }
}

@media (min-width: 992px) {
    .global__pic {
        width: 42em;
    }
}

@media (min-width: 1200px) {
    .section--global .subtitle {
        margin-bottom: 156px;
    }

    .global__pic {
        width: auto;
    }
}

/*partners*/
.section--partners .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.partner:hover {
    filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg) brightness(101%) contrast(100%);
}

.partner:nth-of-type(3),
.partner:nth-of-type(4),
.partner:nth-of-type(5) {
    display: none;
}

.partner:not(:last-child) {
    margin: 0;
}

.section--partners .slider__nav {
    margin-bottom: 20px;
}

/*media partners*/
@media (max-width: 576px) {}

@media (min-width: 576px) {
    .partner:nth-of-type(3) {
        display: block;
    }
}

@media (min-width: 768px) {
    .partner:nth-of-type(4) {
        display: block;
    }
}

@media (min-width: 992px) {
    .partner:nth-of-type(5) {
        display: block;
    }

    .section--partners .slider__nav {
        display: none;
    }
}

@media (min-width: 1200px) {
    .partner:not(:last-child) {
        margin-right: 64px;
    }
}

/*customer*/
.section--customer {
    background: #f6f6f6;
    padding: 78px 0px 65px;
}

.section--customer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--customer .title {
    width: 448px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.section--customer .subtitle {
    margin-bottom: 60px;
    max-width: var(--subtitle-width);
    ;
}

.slider__slide {
    margin-bottom: 60px;
}

.section--customer .slider__nav-item--active {
    width: 45px;
    height: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #dde0e4;
    border-color: transparent;
}

.slider__slide-message {
    display: flex;
    margin-left: 130px;
}

.slider__item.comment {
    width: 400px;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 30px 0px;
}

.slider__item.comment:hover {
    border: 2px solid #f53838;
}

.slider__item.comment:not(:last-child) {
    margin-right: 50px;
}

/*.slider__item.comment:last-child {
    position: relative;
    left: 100px;
}*/
.comment__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.comment__profile-logo {
    width: 50px;
    height: 50px;
    margin-right: 21px;
}

.comment__profile-description {
    margin-right: 108px;
}

.comment__author {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #0b132a;
}

.comment__location {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4f5665;
}

.comment__rating {
    display: flex;
    align-items: center;
}

.comment__rating-value {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #0b132a;
    margin-right: 10px;
}

.comment__rating-icon {
    width: 16px;
    height: 16px;
}

.section--customer .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #0b132a;
    margin: 0px 30px;
}

.slider__item.comment:nth-of-type(2) {
    display: none;
}

.slider__item.comment:last-child {
    display: none;
}

.slider__nav-left {
    display: flex;
    align-items: center;
}

/*media customer*/
@media (max-width: 576px) {
    .section--customer .title {
        width: auto;
    }

    .slider__item.comment:last-child {
        display: none;
    }

    .slider__slide-message {
        justify-content: center;
    }

    .slider__nav-left {
        margin: 0;
    }

    .slider__item.comment:not(:last-child) {
        margin: 0 auto;
        width: auto;
    }

    .slider__slide-message {
        margin: 0;
    }

    .section--customer .slider__nav {
        position: unset;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 576px) {
    .section--customer .slider__nav {
        justify-content: space-between;
    }

    .slider__nav-left {
        margin-right: 0px;
    }

    .slider__slide-message,
    .slider__item.comment:not(:last-child) {
        margin: 0px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 1200px) {
    .slider__nav-left {
        margin-right: 865px;
    }
}




/*subscribe*/
.section--subscribe {
    background: #f7f7f7;
}

.section--subscribe .container {
    display: flex;
    align-items: center;
    width: 1140px;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    top: 147px;
}

.subscribe__left {
    line-height: 45px;
    width: 361px;
    margin: 58px 340px 58px 70px;
}

.section--subscribe .title {
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
}

.section--subscribe .description {
    font-weight: 400;
    margin: 0;
}

/*media subscribe*/
@media (max-width: 576px) {
    .section--subscribe .container {
        flex-direction: column;
        width: auto;
        padding-bottom: 15px;
        top: 0px;
    }

    .subscribe__left {
        margin: 0;
        padding: 15px 0px;
    }

    .section--subscribe .title {
        text-align: center;
    }

    .section--subscribe .description {
        text-align: center;
    }
}

/*footer*/
.footer {
    background: #f8f8f8;
    padding: 180px 0px 100px;
}

.footer .container {
    display: flex;
}

.footer__left {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-right: 230px;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.social {
    margin-right: 20px;
}

.social__icon {
    width: 40px;
    height: 40px;
}

.copyright {
    line-height: 30px;
    color: #afb5c0;
}

.footer__right {
    display: flex;
    flex-direction: column;
}

.footer__right-table {
    display: flex;
}

.table__colume {
    display: flex;
    flex-direction: column;
}

.table__colume:not(:last-child) {
    margin-right: 140px;
}

.footer .menu__item--active {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #0b132a;
    margin-bottom: 20px;
}

.footer .menu__item {
    line-height: 30px;
    margin-right: 0;
}

/*media footer*/
@media (max-width: 576px) {
    .footer {
        padding-top: 50px;
    }

    .footer .container {
        flex-direction: column;
    }

    .table__colume:not(:last-child) {
        margin-right: 0px;
    }

    .footer__right-table {
        justify-content: space-between;
    }
}